@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ceridian<br />
    Level 10, Cyber Tower 1, Ebene, Mauritius <br />
    <abbr title="Phone">P:</abbr>
    011-230-401-8438
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dvanvu@storedvalue.com">dvanvu@storedvalue.com</a><br />
</address>